.contactPage{
  min-height: calc(100vh-4rem);
  width: 100vw;
  text-align: center;
    
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.contactPage h2{
  color:#FFD700 ;
}
.contactPageTitle{
  font: size 3rem;
  margin: 1rem 0;
  text-align: center;

}
/* .contactDescription{
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
} */
.contactForm{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content:center;
  width: 90vw;
  max-width: 60rem;

  
}
.name, .email, .msg{
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem ;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}
.submitBtn{
  background: white;
  border: none;
  border-radius: .5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
}
.link{
  display: block;
  width: 100%;
  
}
@media (max-width: 600px) {
  .contactPage {
    padding: 20px;
    width: auto;
  }
  .name, .email, .msg {
    font-size: 0.9rem;
  }
}
