.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 4rem 2rem;
  
  background: linear-gradient(135deg, #0f0c29, #050505, #24243e);
  color: #f5f5f5;
  gap: 2rem;
  
}

.intro-left {
  flex: 1;
  padding: 1rem;
}

.greeting {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  
  font-weight: 500;
  color: white;
  
  margin-bottom: 0.5rem;
  letter-spacing: .5px;
}


.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  margin: 0;
}



.animated-text {
  font-family: 'Fira Code', monospace;
  font-size: 2.4rem;
  font-style: italic;
  background-color: #111;
  color: #88ff00af;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}


.animated-text::after {
  content: '|';
  animation: blink 0.8s infinite;
  margin-left: 4px;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.description {
  margin-top: 1.2rem;
  font-size: 1.1rem;
  max-width: 500px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.7rem 2rem;
  background: linear-gradient(90deg, #FFD700, #FFA500);
  color: #1a1a1a;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.4s ease;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.5);
}

.btn:hover {
  box-shadow: 0 0 18px rgba(255, 215, 0, 0.9);
}

.intro-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-width: 90%;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3);
}

/* Responsive */
@media (max-width: 900px) {
  .intro-section {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .intro-right {
    margin-top: 2rem;
  }
}
@media (max-width: 750px) {
  .intro-section {
    margin-bottom: 21.5rem;
   display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  

  /* .name {
    font-size: 3.5rem;
  } */

  .animated-text {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1rem;
    max-width: 100%;
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .intro-section{
    margin-bottom: auto;
  }
  .greeting {
    font-size: 2.5rem;
  }

  .name {
    font-size: 3.8rem;
  }

  .animated-text {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
    max-width: 100%;
  }

  a.btn {
    display: none;
  }
  .intro-right{
    margin-bottom: 3rem;
  }
}