*{
margin: 0;
padding: 0;
}

body{
  height: 100vh;
  /* background: white; */
  /* background: linear-gradient(135deg, #2C3E50 0%, #4CA1AF 100%); */
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
 
    transition: background-color 0.5s ease, color 0.5s ease;
  



  padding: 40px;
  color: black;
}